{% extends 'layouts/main.html' %}
{% block title %}Edit Artist{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post" action="/artists/{{artist.id}}/edit">
      <h3 class="form-heading">Edit artist <em>{{ artist.name }}</em></h3>
      <div class="form-group">
        <!-- Note : I add this statment to get the old date from db for change only what we need to change -->
        <label for="name">Name</label>

              {% if artist.name %} 
                {{ form.name(class_ = 'form-control', value= artist.name, autofocus = true) }}
              {% else %} 
                {{ form.name(class_ = 'form-control', autofocus = true) }}
              {% endif %}
          
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {% if artist.city %}
                {{ form.city(class_ = 'form-control', value= artist.city, autofocus = true) }}
              {% else %}
                {{ form.city(class_ = 'form-control', placeholder= 'City', autofocus = true) }}
              {% endif %}
            </div>
            <div class="form-group">
              {% if artist.state %}
                {{ form.state(class_ = 'form-control', value=artist.state, autofocus = true) }}
              {% else %}
                {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true) }}
              {% endif %}
            </div>
          </div>
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {% if artist.phone %}
            {{ form.phone(class_ = 'form-control', value=artist.phone, autofocus = true) }}
          {% else %}
            {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true) }}
          {% endif %}
        </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {% if artist.genres %}
          {{ form.genres(class_ = 'form-control', value=artist.genres, id=form.state, autofocus = true) }}
        {% else %}
          {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas', id=form.state, autofocus = true) }}
        {% endif %}
      </div>
      <div class="form-group">
          <label for="genres">Facebook Link</label>
          {% if artist.facebook_link %}
            {{ form.facebook_link(class_ = 'form-control', value=artist.facebook_link, id=form.state, autofocus = true) }}
          {% else %}
            {{ form.facebook_link(class_ = 'form-control', placeholder='http://', id=form.state, autofocus = true) }}
          {% endif %}
        </div>
      <input type="submit" value="Edit Artist" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}